<h2>Log in</h2>

<%= form_for(resource, url: user_session_path) do |f| %>
   <div class="form-group required">
    <%= f.label :email, class: 'control-label'  %><br />
    <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
  </div>
  
  <div class="form-group required">
    <%= f.label :password, required: true, class: 'control-label' %><br />
    <%= f.password_field :password, required: true, class: 'form-control', autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= f.check_box :remember_me, class: 'control-label' %>
    <%= f.label :remember_me %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
