<hr/>
<div class="ratings_div">
    <h6>Rating</h6>
    <% if user.has_completed_deal %>
      
    <p><span id="<%= user.id %>_star"></span> (<%= pluralize(user.total_deals, 'deal') %>)</p>
      
    <% else %>
      <i>None yet.</i>
    <% end %>
</div>

<script>
  $('#<%= user.id %>_star').raty({
    readOnly: true,
    half: true,
    starHalf: "<%=image_path('star-half.png')%>", 
    starOff: "<%=image_path('star-off.png')%>",
    starOn: "<%=image_path("star-on.png")%>",
    score: <%= user.rating_number %>,
    path: ''
  });
</script>
