<div id="statistics" class="ratings_div">
  <!--<p>
    <i>Current buyers who are currently seeking a seller: </i>
    <strong><%= number_to_human users.buyers.searching.size %></strong
  </p>
  <p>
    <i>Current sellers who are currently seeking a buyer: </i>
    <strong><%= number_to_human users.sellers.searching.size %></strong
  </p>-->
  <p>
    <i>Number of deals made today: </i>
    <strong><%= number_to_human deals.last_day.size %></strong>
  </p>
  <p>
    <i>Number of deals made for all time: </i>
    <strong><%= number_to_human deals.size %></strong>
  </p>
  <p>
    <i>Total buyers and sellers using the site: </i>
    <strong><%= number_to_human users.active.size %></strong>
  </p>
</div>