<tr class="<%= user.meal_plan_name.downcase %>" data-user-id='<%=user.id %>'>
  <%# Photo %>
  <td><%= render 'users/photo', user: user %></td>
  
  <%# Name %>
  <td><%= user.name %></td>
  
   <%# Details %>
  <td>
    <p><strong><%= user.meal_plan_name %></strong></p>
    <a class="btn btn-success" href="#" role="button">Make deal!</a><%#take action manual_match_user from User entity%>
  </td>
  <td>
  	<p><strong><%= "Know user?" %></strong></p>
    <a class="btn btn-success" href="#" role="button">Favorite!</a><%#take action get_favorited from Favorite entity%>
  </td>
</tr>
