<tr class="<%= user.meal_plan_name.downcase %> <%= 'in-deal' if user.current_deal_id.nil? %>">
  <%# Photo %>
  <td><img src="<%=user.small_photo_url%>"/></td>
  
  <%# User %>
  <td>
    <p><strong><%= user.name %></strong></p>
    <% unfav_link = "#{user.id}-unfav-link" %>
    <% fav_link = "#{user.id}-fav-link" %>
    
    <%= link_to "Click to Unfriend", delete_favorite_path(user.id), id: unfav_link, method: :delete, class: 'btn btn-danger hidden', remote: true %>
    <%= link_to "Click to Friend", create_favorite_path(user.id), id: fav_link, method: :post, class: "btn btn-success hidden", remote: true %>
  
    <% ratings_div = "#{user.id}-ratings-div" %>
      <div id="<%= ratings_div %>">
    <%= render 'users/ratings', user: user  %>
    </div>
  </td>
  
  <%# Details %> 
  <td>
    <p class="<%= user.location_name_css_code %>"><i><%= user.location_name %></i><p>
    <p class="location-code-<%= user.location_code%>"><i><%= user.location_preferences %></i></p>
    
    <p><strong><%= user.meal_plan_name %></strong></p>
    <% deal_link = "#{user.id}-deal-link" %>
    
    <%= link_to "Make deal!", make_deal_path(user.id), id: deal_link, method: :post, class: "btn btn-success" %>
  
    <%= render 'users/notes', user: user %>
  </td>
</tr>


<%# current_user is not known in the actioncable javascript channels, so current_user info is stored as meta attributes. %>
<script>
  var current_user_id = $('meta[name=current-user]').attr('data-val');
  var current_user_deal_id = $('meta[name=current-deal]').attr('data-val');
  var is_current_user = <%= user.id %> == current_user_id;
  var favorites = <%= raw user.favoriter_ids %>;
  var in_deal = <%= !user.current_deal_id.nil? %>;
  var deal_link = $('#<%= deal_link %>');
  var ratings_div = $('#<%= ratings_div %>');
    
    if (!is_current_user && $.inArray(current_user_id, favorites) == -1) {
       $('#<%= fav_link %>').removeClass("hidden");
    } else if (!is_current_user) {
      $('#<%= unfav_link %>').removeClass("hidden");
    };
    
    if (is_current_user) {
      deal_link.addClass("hidden")
      ratings_div.addClass("hidden")
    }
    else if (in_deal || current_user_deal_id != "") {
      deal_link.removeClass('btn-success');
      deal_link.addClass('btn-warning disabled');
      if (in_deal) {
        deal_link.text('In deal');
      } 
      else {
        deal_link.text('Unavailable');
      };
    };
</script>