<tr data-user-id='<%=user.id%>'>
  <td> <img src="<%=user.photo_url%>"/></td>
  <td><%= user.name %></td>
  <td><p><%= user.status_name %> at <%= user.location_name %></p>
      <% unless user.description.blank? %>
        <p>
          <span class="description"><label>Notes:&nbsp;</label></span>
          <%= user.description %>
        </p>
      <% end %>
  </td>
  <td>
    <% if user.owns_meal_plan %>
      <% for sym in [:blocks,:guest_blocks,:dinex] %>  
        <% if user.owns(sym) %>
          <p>
            <span class="<%= sym.to_s %>">
            <label><%= sym.to_s.humanize %>:&nbsp;</label><%= user.public_send(sym) %>
            </span>
          </p>    
        <% end %>
      <% end %>
    <% else %>
      No meal plan.
    <% end %>
  </td>
</tr>