<tr data-user-id='<%=user.id%>'>
  <td> <img src="<%=user.photo_url%>"/></td>
  <td><%= user.name %></td>
  <td><p><%= user.status_name %> at <%= user.location_name %></p>
      <% unless user.description.blank? %>
        <p><label>Notes:&nbsp;</label><%= user.description %></p>
      <% end %>
  </td>
  <td>
    
    <p><label>Blocks:&nbsp;</label> <%= user.blocks %></p>
    <p><label>Guest Blocks:&nbsp;</label><%= user.guest_blocks %></p>
    <p><label>Dinex:&nbsp;</label><%= user.dinex %></p>
  </td>
</tr>