<tr class="<%= user.meal_plan_name.downcase %>" data-user-id='<%=user.id %>'>
  <%# Photo %>
  <td><%= render 'users/photo', user: user %></td>
  
  <%# Name %>
  <td><%= user.name %></td>
  
   <%# Details %>
 
    
    <td>
      <p><strong><%= user.meal_plan_name %></strong></p>
      <%= link_to "Make deal!", make_deal_path(user.id), method: :post, class: "btn btn-success", remote: true %>
    </td>
    <%# if particular user id is found in current_users list of favorites %>
    <%# if current_user.favorites.map{ |f| f.favorited_id  }.include?(user.id) %>
    <td>
      <p><strong><%= "Unfavorite" %></strong></p>
    <%= link_to "Unfavorite", delete_favorite_path(user.id), method: :delete, class: 'btn btn-danger', remote: true %>
    </td>
    <%#else%>
      <td>
        <p><strong><%= "Favorite" %></strong></p>
      <%= link_to "Favorite", create_favorite_path(user.id), method: :post, class: "btn btn-success", remote: true %>
      </td>
    <%#end%>
</tr>
