<tr data-user-id='<%=user.id%>'>
  <%# Photo %>
  <td><%= render 'users/photo', user: user %></td>
  
  <%# Name %>
  <td><%= user.name %></td>
  
  <%# Status %>
  <td>
    <label class="<%= user.status_class %>">Status</label>
    <p>
      <%= user.status_and_location %>
    </p>
    <% unless user.description.blank? %>
      <label class="description">Notes</label>
      <p>
        <%= user.description %>
      </p>
    <% end %>
    
    <label>Seeking Deal</label>
    <p><%= user.find_match ? "Yes" : "No" %></p>
    
    <label>Deal Currently in Progress</label>
    <p><%= user.find_match_in_progress ? "Yes" : "No" %></p>
    
  </td>
  
   <%# Meal Plan details %>
  <td>
    <% if user.owns_meal_plan %>
      <% for sym in [:blocks,:guest_blocks,:dinex] %>  
        <% if user.owns(sym) %>
          <p>
            <span class="<%= sym.to_s %>">
            <label><%= sym.to_s.humanize %>:&nbsp;</label><%= user.public_send(sym) %>
            </span>
          </p>    
        <% end %>
      <% end %>
    <% else %>
      No meal plan.
    <% end %>
  </td>
</tr>