<p> Email: <%= @user.email %></p>

<p> Name: <%= @user.name %></p>

<p> Photo: <%= @user.photo %></p>

<p> Description: <%= @user.description %></p>

<p> Blocks: <%= @user.blocks %></p>
<p> Guest blocks: <%= @user.guest_blocks %></p>
<p> Dinex: <%= @user.dinex %></p>

<p> Last sign in: <%= @user.last_sign_in_at %></p>