<%= form_for current_user, url: edit_current_user_path, html: { method: :put }, remote: true, data: {'on-change-submit' => 'true'} do |f| %>
  <p class="help-block">
    <i>
      Changing your status will automatically place you on the map.
    </i>
  </p>
  <p class="help-block">
    <i>
      Click the switch to be matched with a nearby available buyer/seller.
    </i>
  </p>
  <div class="row"> 
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :status, "My Status", class: 'control-label'  %><br />
        <%= f.select :status, grouped_options_for_select(User::STATUSES, current_user.status), class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :find_match, "Match Me", class: 'control-label'  %><br />
        <%= f.check_box :find_match, class: "form-control" %>
      </div>
    </div>
  </div>
  
    <p class="<%= "hidden" if current_user.find_match %>" id="find_match_help_block_false">
      <strong><i class="fa fa-times"></i> Not currently searching for available users.</strong>
    </p>
    <p class="<%= "hidden" if !current_user.find_match %>" id="find_match_help_block_true">
      <strong><i class="fa fa-spin fa-spinner"></i> Waiting for an available user...</strong>
    </p>
    
<% end %>

<p>
  <% if current_user.matched_user %>
    Matched with: <%= current_user.matched_user.name %>
  <% end %>
</p>
