<%= form_for current_user, url: edit_status_path, html: { method: :put }, remote: true, data: {'on-change-submit' => 'true'} do |f| %>
   <p class="help-block"><i>If you're a seller, your Meal Plan information will be used to match you to potential buyers.</i></p>
   <div class="row">
    <% for sym in [:dinex, :blocks, :guest_blocks] %>
      <div class="col-xs-3">
        <div class="form-group">
          <%= f.label sym, "My #{sym.to_s.humanize.downcase}", class: 'control-label'  %><br />
          <%= f.number_field sym, min: 0, class: "form-control" %>
        </div>
      </div>
    <% end %>
   </div>
   
   <p class="help-block"><i>You can leave any notes for potential buyers/sellers in the Notes section.</i></p>
   <div class="row">
      <div class="col-xs-6"> 
        <div class="form-group">
          <%= f.label :description, "Notes", class: 'control-label'  %><br />
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
   </div>
    
  <p id="geo-help-block" class="help-block"><i>Your latitude and longitude are found automatically and used to place you on the map, if you are seller or a buyer.</i></p>
  <div class="row">
    <% for sym in [:longitude, :latitude] %>
      <div class="col-xs-2">
        <div class="form-group">
          <%= f.label sym, "My #{sym.to_s.humanize.downcase}", class: 'control-label'  %><br />
          <%= f.hidden_field sym, class: "form-control" %>
          <span id="<%="#{sym.to_s}_target"%>">
            <%= current_user.public_send(sym) %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
