<h1>Home page</h1>

<%= form_for current_user, url: edit_status_path, html: { method: :put }, remote: true do |f| %>
    <div class="row">
      <% for sym, collection in [[:status, User::STATUSES], [:location, User::LOCATIONS]] %>
        <div class="col-xs-4">
          <div class="form-group required">
            <%= f.label sym, "My current #{sym.to_s}", class: 'control-label'  %><br />
            <%= f.select sym, collection.map.with_index.to_a, :required => true, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: 'btn' %>
    </div> 
<% end %>

<h2>Buyers</h2>
<section data-channel="buyers">
  <%= render @users.buyers %>
</section>

<h2>Sellers</h2>
<section data-channel="sellers">
  <%= render @users.sellers %>
</section>