<tr data-deal-id='<%=deal.id%>'>
  <%# Photo %>
  <td><%= render 'users/photo', user: deal.owner %></td>
  
  <%# Name %>
  <td>
    <p><%=deal.owner.name%></p>
  </td>
  
  <%# Status %>
  <td>
    <span class="<%= deal.status_class %>">
      <p><%= deal.status_and_location %></p>
    </span>
    <% unless deal.description.blank? %>
      <p>
        <span class="description"><label>Notes:&nbsp;</label></span>
        <%= deal.description %>
      </p>
    <% end %>
  </td>
  <td>
    <% for sym in [:blocks,:guest_blocks,:dinex] %>  
      <% if deal.owns(sym) %>
        <p>
          <span class="<%= sym.to_s %>">
            <label><%= sym.to_s.humanize %>:&nbsp;</label><%= deal.public_send(sym) %>
          </span>
        </p>    
      <% end %>
    <% end %>
  <%= link_to "Delete", deal_path(deal), method: :delete, remote: true, class: 'btn btn-danger' %>
  </td>
</tr>