<%= form_for current_user, url: edit_current_user_path, html: { method: :put }, remote: true, data: {'on-change-submit' => 'true'} do |f| %>
  <%= render 'deals/location_alerts' %>

  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :longitude, class: "form-control" %>
  
  <div class="row">
    <div class="col-xs-6">
      <p class="help-block"><i>If you're a seller, your Meal Plan information will be used to match you to potential buyers.</i></p>
      <div class="form-group">
        <%= f.label :meal_plan_code, "Buying or Selling...", class: 'control-label'  %><br />
        <%= f.select :meal_plan_code, User.meal_plan_options, class: "form-control" %>
      </div>
    </div>
 
    <div class="col-xs-6">
      <p class="help-block"><i>You can leave any notes in the Notes section to appear next to your public listing.</i></p>
      <div class="form-group">
        <%= f.label :description, "Notes", class: 'control-label'  %><br />
        <%= f.text_area :description, class: "form-control" %>
      </div>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :status_code, "I am currently...", class: 'control-label'  %><br />
        <%= f.select :status_code, User.status_options, class: "bootstrap-switch form-control" %>
      </div>
    </div>
  </div>
  
<% end %>

<br/>

<%= render 'deals/match_alerts' %>

<%= render 'deals/match', user: current_user %>
