<div id="current_user_status">
  <% if user and !user.is_unavailable %>
    <div class="match_alert alert alert-<%= user.status_css %> text-center">
      <p>
        <strong>
          <%= "Buying:" if user.is_buyer %>
          <%= "Selling:" if user.is_seller %>
        </strong>
        <i>
          <%= user.status_text %>
        </i>
        <strong>
          <%= link_to dashboard_path do %>
            <% if user.current_deal_id %>
              <%= "Go to the deal" if user.is_buyer or user.is_seller %>
            <% end %>
              <%= "Make a deal now!" if user.is_unavailable %>  
          <% end %>
        </strong>
      </p>
    </div>
  <% end %>
</div>
