<div id="match_user" class="text-center" >
  <% if user.current_deal %>

    <% if user.is_seller %>
      <% matched_user = user.current_deal.buyer %>
    <% else %>
      <% matched_user = user.current_deal.seller %>
    <% end %>

    <%# Name %>
    <h4>You are currently matched with:</h4>
    <h2> <%= matched_user.name %></h2>
    
    <div class="<%= matched_user.meal_plan_name.downcase %> in-deal">
      <%# Photo %>
      <p><img src="<%=matched_user.photo_url%>"/></p>
      
      <%# Details %>
      <p><i><%= "#{matched_user.location_name}, #{matched_user.meal_plan_name}" %></i></p>
      
      <% if matched_user.favoriter_ids.include?(user.id.to_s) %>
        <%= link_to "Click to Unfriend", delete_favorite_path(matched_user.id), method: :delete, class: 'btn btn-danger', remote: true %>
      <% else %>
        <%= link_to "Click to Friend", create_favorite_path(matched_user.id), method: :post, class: "btn btn-success", remote: true %>
      <% end %>
      
      <br/><br/>
    
      <p><%= render 'users/google_map', users: [user, matched_user], width: 400, height: 250 %></p>
      
      <%= render 'users/ratings', user: matched_user %>
      <br/>
    </div>

  <% end %>
</div>
