<%= render 'deals/location' %>

<br/>

<div id="step_one_container" class="<%="hidden" unless current_user.current_deal_id.nil? %>">  
  
  <%= form_for current_user, url: edit_current_user_path, html: { method: :put }, remote: true, data: {'on-change-user' => 'true'} do |f| %>
    <div class="row">
      <div class="col-xs-6">
        <p class="help-block"><i>If you're a seller, your Meal Plan information will be used to match you to potential buyers.</i></p>
        <div class="form-group">
          <%= f.label :meal_plan_code, "Item(s):", class: 'control-label'  %><br />
          <%= f.select :meal_plan_code, User.meal_plan_options, class: "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <p class="help-block"><i>You can leave any notes in the Notes section to appear next to your public listing.</i></p>
        <div class="form-group">
          <%= f.label :description, "Notes", class: 'control-label'  %><br />
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="row"> 
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :status_code, "Are you buying, selling, or neither?", class: 'control-label'  %><br />
          <%= f.select :status_code, User.status_options, class: "bootstrap-switch form-control" %>
        </div>
      </div>
    </div>
    <%= f.button 'Submit', class: "btn btn-success" %>
  <% end %>
</div>

<div id="step_two_container" class="<%="hidden" if current_user.current_deal_id.nil? %>">
  <div class="row">
    <div class="col-xs-6"> 
      <%= form_for Deal.new, url: edit_current_deal_path, html: { method: :put }, remote: true, data: {'on-change-deal' => 'true'} do |f| %>
        <div class="form-group">
          <%= f.label :seller_status_code, "Your Status", class: 'control-label'  %><br />
          <%= f.select :seller_status_code, Deal.status_options, class: "form-control" %>
        </div>
        <%= f.button 'Submit', class: "btn btn-success" %>
      <% end %>
      
    </div>
    <div class="col-xs-6">
      <label>Their Status</label>
      <%= render 'match_user_status', user: current_user %>
    </div>
  </div>
        
  <br/>
  <%= render 'deals/match', user: current_user %>
</div>
