<div id="current_user_status">
  <% if user %>
    <div class="match_alert alert alert-<%= user.status_css %>">
      <p>
        <strong>
          Your status:
        </strong>
        <i>
          <%= user.status_text %>
        </i>
      </p>
      
      <p>
        <strong>
          You are: 
        </strong>
        <i>
          <%= link_to dashboard_path do %>
            <%= "Active Buyer" if user.is_buyer %>
            <%= "Active Seller" if user.is_seller %> 
            <%= "Not Active" if user.is_unavailable %>  
          <% end %>
        </i>
      </p>
    </div>
  <% end %>
</div>