<div id="match_user" class="text-center" >
  <% if user.current_deal %>

    <% if user.is_seller %>
      <% matched_user = user.current_deal.buyer %>
      <% pay_or_charge = "Charge" %>
    <% else %>
      <% matched_user = user.current_deal.seller %>
      <% pay_or_charge = "Pay" %>
    <% end %>

    <%# Name %>
    <h4>You are currently matched with:</h4>
    <h2> <%= matched_user.name %></h2>
    
    <div class="<%= matched_user.meal_plan_name.downcase %> in-deal">
      <%# Photo %>
      <p><img src="<%=matched_user.photo_url%>"/></p>
      
      <%# Details %>
      <p><i><%= "#{matched_user.location_name}, #{matched_user.meal_plan_name}" %></i></p>
      
      <%= render 'users/notes', user: matched_user %>
      
      <% if matched_user.favoriter_ids.include?(user.id.to_s) %>
        <%= link_to "Remove Friend", delete_favorite_path(matched_user.id), method: :delete, class: 'btn btn-danger', remote: true %>
      <% else %>
        <%= link_to "Add Friend", create_favorite_path(matched_user.id), method: :post, class: "btn btn-success", remote: true %>
      <% end %>

      <br />
      <br />

      <%# Check if iOS device %>
      <%#= $device_type %>
      <%#= $device_type.nil? %>
      <% if $device_type == "iOS" %>
        <%= link_to "#{pay_or_charge} with Venmo", "http://appstore.com/venmo", class: "btn btn-primary" %>
      <% elsif $device_type == "android" %>
        <%= link_to "#{pay_or_charge} with Venmo", "https://play.google.com/store/apps/details?id=com.venmo", class: "btn btn-primary" %>
      <% else %>
        <%= link_to "#{pay_or_charge} with Venmo", "https://venmo.com", class: "btn btn-primary", target: '_blank' %>
      <% end %>
      
      <br/><br/>
    
      <p><%= render 'users/google_map', users: [user, matched_user], width: 400, height: 250 %></p>
      
      <%= render 'users/ratings', user: matched_user %>
      <br/>
    </div>

  <% end %>
</div>
