<% ccn = controller.controller_name %>
<% can = controller.action_name %>

<nav class="navbar navbar-default">
  <div class="container">
    <%= link_to "ShoppingBlocks", guest_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li class="<%='active' if can == 'guest'%>">
        <%= link_to "Home", guest_path %>
      </li>
      <% if current_user %>
        <li class="<%='active' if ccn == 'home' and can == 'index'%>">
          <%= link_to "Dashboard", dashboard_path %>
        </li>
      <% end %>
    </ul>
    <div class="nav navbar-nav navbar-right" id="ul">
      <% if current_user %>
        <li>
         <%= link_to "Welcome #{current_user.email}", edit_user_registration_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="<%='active' if ccn == 'sessions'%>">
          <%= link_to "Log in", new_session_path('user') %>
        </li>
        <li class="<%='active' if ccn == 'registrations'%>">
          <%= link_to "Sign up", new_registration_path('user') %>
        </li>
      <% end %>
    </div>
  </div>
</nav>
