<!DOCTYPE html>
<html>
<head>
  <title><%= current_user and current_user.current_deal_id ? "SB - Deal Found!" : "ShoppingBlocks" %></title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/meta', user: current_user %>
  
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <header role="banner">
    <%= render 'layouts/navigation' %>
  </header>
  
  <main role="main">
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissable">
          <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
            &times;
          </button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div  class="alert-danger alert alert-dismissable">
          <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
            &times;
          </button>
          <%= alert %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </main>

  <footer role="contentinfo">
  <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
