<div class="form-group <%='required' if required %>">
  <%= f.label :password, "New Password", required: required, class: 'control-label'  %>
  <%= f.password_field :password, autocomplete: "off", required: required, class: "form-control" %>
  <p class="help-block"><i>8 characters minimum.</i></p>
  <% unless required %>
    <p class="help-block"><i>Leave password (and password confirmation) blank if you don't want to change it.</i></p>
  <% end %>
</div>

<div class="form-group <%='required' if required %>">
  <%= f.label :password_confirmation, "New Password Confirmation", required: required, class: 'control-label'  %><br />
  <%= f.password_field :password_confirmation, required: required, autocomplete: "off",class: "form-control" %>
</div>