<h2>My Account Details</h2>

<%= render 'users/registrations/user', user: @user %>

<%= form_for(resource, url: user_registration_path, html: { method: :put }) do |f| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3>Edit Account</h3>
    </div>
    
    <div class="panel-body">
      <%= render 'email_fields',  f: f %>
      
      </br>
      <% if !@user.photo.blank? %>
        <label class='control-label'>Original Upload</label> 
        <%= f.cropbox :photo %>
        </br>
        <label class='control-label'>Cropped</label> 
        <%= f.previewbox :photo %>
      <% end %>
          
      <div class="form-group">
        <p class="help-block"><i>Your photo should be clear so that others can recognize you in person.</i></p>
        <%= f.label :photo, "Change Photo", class: 'control-label'  %><br />
        <%= f.file_field :photo, class: "form-control" %>
      </div>
      
      <br/>
      
      <div class="form-group">
        <p class="help-block">Check this box if you'd like to be notified by email when you are matched with another user.</p>
        <p class="help-block">(Notifications are not sent for immediate matches.)</p>
        <%= f.check_box :notify_by_email, class: 'control-label' %>
        <%= f.label :notify_by_email %>
      </div>
      
      <br/>
      
      <div class="form-group">
        <p class="help-block">Check this box if you'd like to only be automatically matched with your favorite users.</p>
        <p class="help-block">(You can still manually match yourself with any user.)</p>
        <%= f.check_box :friends_only, class: 'control-label' %>
        <%= f.label :friends_only %>
      </div>
      
      <br/>
      
      <%= render 'password_fields', f: f, required: false %>
    
      <div class="actions">
        <%= f.button "Update", class: 'btn btn-primary btn-lg',data: {disable_with: load_icon("Updating") } %>
      </div>
    </div>
  </div>    
<% end %>

<div class="panel panel-danger">
  <div class="panel-heading">
    <h3>Delete Account</h3>
  </div>
  
  <div class="panel-body">
    <p>Unhappy? <%= button_to "Delete my account and logout", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
  </div>
</div>